{% extends 'base.html.twig' %}

{% block body %}
    <div  class="container">

    <a href="/user/create" class="btn btn-success" >Create User</a>
    <ul>
        <div>

        <label>Users</label>
        {% for user in users %}
            <li> {{ user.name }} {{ user.age }} {{ user.login }} {{ user.mail }} </li>
            <a href="/user/remove/{{ user.id }}" class="btn btn-danger">Delete</a>
            <a href="/user/edit/{{ user.id }}" class="btn btn-info">Edit</a>
        {% endfor %}
        </div>
    </ul>

    <a href="{{ path('logout') }}" class="btn btn-danger">Logout</a>

    </div>
{% endblock %}

{% block title %}

{% endblock %}